<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loopop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>932EE4EB1C5D1B24006B212F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932EE5031C5D1B24006B212F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932EE50E1C5D1B24006B212F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
